body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo {
    flex-grow: 2;
    height: 100px;
    background-color: yellow;
}

.nav {
    flex-grow: 8;
    height: 100px;
    margin-left: 10px;
    background-color: orange;
}

.red-section {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    background-color: red;
}

.blue-section {
    width: 100%;
    height: 300px;
    background-color: lightblue;
}

.block-section {
    width: 100%;
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    justify-content: space-between;
}

.post {
    flex-grow: 1;
    height: 300px;
    width:min-content;
}
.news1 {
    flex-grow: 1;
    height: 200px;
    margin: 0 10px;
    background-color: lightblue;
}
.news2 {
    flex-grow: 1;
    height: 200px;
    background-color: lightblue;
}

@media only screen and (max-width: 1024px) {
    body {
      background-color: lightblue;
    }
    .logo, .nav {
        height: 80px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color:aquamarine;
    }

    .header {
        flex-direction: column;
    }

    .logo {
        flex-grow: 1;
    }
    
    .nav {
        flex-grow: 1;
        margin-left: 0;
        margin-top: 10px;
    }

    .red-section {
        height: 80px;
    }

    .block-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post {
        width: 100%;
    }

    .news1 {
        margin: 10px 0;
    }
}
